<div class="header-container">
    <div class="header-main">
        <div>
            <span class="logo-span">
                BLAZOR PIZZA
            </span>
        </div>
        <div class="nav-main">
            <BtnCardapio />
            <Location />
        </div>        
        <NavLogin />
    </div>
    
    <div class="header-secondary">
         <DisplayOrder/>
    </div>
</div>

@code {
    // Propriedades do header
}