a {
    text-decoration: none;
    color: #fff;
    font-size: 10pt;
}

.header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 150px;
}

.header-main {
    background-color: #232222;
    width: 100%;
    min-height: 70px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}

.logo-span {
    color: #D5B403;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
}

.header-secondary {
    background-color: #232222;
    width: 100%;
    min-height: 45px;
    border: 1px solid #000000;
    color: white;
}

.nav-main {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

.nav-main img {
    height: 25px;
}


.nav-main a {
    font-size: 10pt;
}


@media (max-width: 641px) {
    .header-main {
        background-color: transparent;
    }

    .header-secondary {
        position: absolute;
        bottom: 0;
        height: 70px;
        z-index: 90;
    }
}