.container-location {
    display: flex;
    width: 150px;
    align-items: center;
}

img {
    height: 25px;
}

p {
    font-size: 10pt;
    margin: 0;
}

@media (max-width: 641px) {
    p {
        font-size: 8pt;
    }

}