<div class="nav-login">
    <a href="#!">
        <img src="_content/MauiApp1.Shared/imagens/register.png" />
        Registre-se
    </a>
    <a href="#!">
        <img src="_content/MauiApp1.Shared/imagens/icoperfil.png" alt="Perfil" />
        Login
    </a>
</div>

@code {

}
