.container-delivery-select{
    width: 135px;
    height: 21px;
    flex-shrink: 0;
    border-radius: 70px;
    border: 1px solid #D5B403;
    background: rgba(217, 217, 217, 0.00);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 200px;
    top: 82px;
}

.type-selected {
    background-color: #d5b403;
    border-radius: 6px;
    cursor: auto;
    transition: 200ms;
}

.select {
    height: 15px;
    width: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-delivery-select span{
    margin: 5px;
    font-size: 12px;
    text-align: center;
}